{% extends 'RDFGithubBotBundle::layout.html.twig' %}

{% block content_main %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
    <li><a href="#builds" data-toggle="tab">Builds</a></li>
    <li><a href="#branches" data-toggle="tab">Branches</a></li>
    <li><a href="#profile" data-toggle="tab">Pull Requests</a></li>
    {% if build is defined %}
    <li><a href="#build{{ build.id }}" data-toggle="tab">Build #{{ build.id }}</a></li>
    {% endif %}
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="current">
        <h3>{{ project.username }}/{{ project.repository }}</h3>

        <h4>Build Configuration</h4>
        <pre class="prettyprint linenums languague-bash">{{ project.configuration }}</pre>
    </div>

    <div class="tab-pane fade" id="builds">
        {% if project.builds|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Commit</th>
                        <th>Finished</th>
                    </tr>
                </thead>
                <tbody>
                    {% for build in project.builds %}
                    <tr>
                        <td><a href="{{ path('rdf_githubbot_default_build', {'username': project.username, 'repository': project.repository, 'id': build.id}) }}">#{{ build.id }}</a></td>
                        <td>{{ build.statusName }}</td>

                        <td>{{ build.commitSha }} ({{ build.branch }})</td>
                        <td>{{ build.finishedAt|date }} - ({{ build.duration }} seconds)</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No Builds</p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="branches">
        {% if branches|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Commit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for branch in branches %}
                    <tr>
                        <td>{{ branch.name }}</td>
                        <td>{{ branch.commit.sha }}</td>
                        <td><a href="{{ path('rdf_githubbot_default_trigger', {'username': project.username, 'repository': project.repository, 'branch': branch.name, 'commit': branch.commit.sha}) }}">trigger build</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No branches</p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="profile">
        {% if pullRequests|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Summary</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pullRequest in pullRequests %}
                    <tr>
                        <td><a href="{{ pullRequest._links.html.href }}">#{{ pullRequest.number }}</a></td>
                        <td>{{ pullRequest.title }}</td>
                        <td>{{ pullRequest.created_at|date }}</td>
                        <td>{{ pullRequest.updated_at|date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No pull requests</p>
        {% endif %}
    </div>

    {% if build is defined %}
    <div class="tab-pane fade" id="build{{ build.id }}">
        <h3>Build {{ build.id }}</h3>
        <pre class="prettyprint linenums languague-bash">{{ build.output }}</pre>
    </div>
    {% endif %}
</div>
{% endblock content_main %}
